*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Set global font size so 1rem will be 10px */
  /* We want all px measurements to be in rem */
  font-size: 62.5%;
}

body {
  // The box-sizing CSS property defines how the user agent should
  // calculate the total width and height of an element.
  box-sizing: border-box;
}